<div class="container">
    <ng-container *ngFor="let card of Cards">
        <div *ngIf="card.shown" class="card">
            <h3 class="title">{{card.title}}</h3>
            <h4 class="sub-title">THEORY</h4>
            <p class="theory">{{card.theory}}</p>
            <p *ngIf="card.comments" class="theory">{{card.comments}}</p>
            <h4 class="sub-title">SCHEMAS</h4>
            <p *ngFor="let s of card.schemas" class="schema">{{s}}</p>
            <h4 class="sub-title">EXAMPLES</h4>
            <div *ngFor="let e of card.examples" class="example">
                <div *ngIf="e.show">
                    <p class="en">{{e.en}}</p>
                    <p class="ru">{{e.ru}}</p>
                    <p *ngIf="e.comment" class="comment">{{e.comment}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>