<div class="filter"
  [class.general]="cardsService.getActiveFilterName() === 'Generals'" >
  <h3 class="common-filter-title">{{cardsService.getActiveFilterName()}}</h3>
  <button 
    class="filter-clear-btn"
    (click)="onClearBtnClick(cardsService.actviveFilterItem())"
  >Clear</button>

  <div class="filter-inner">

    <section class="filter-section" *ngFor="let item of cardsService.actviveFilterItem()">
      <h4 class="filter-title">{{item.title}}</h4>
      <div>
        <label *ngFor="let it of item.values">
          <input type="checkbox" [(ngModel)]="it.checked" (change)="changeCheckbox(item.values, item.id)">
          {{ it.value}}
        </label>
      </div>
    </section>
  </div>

</div>