.filter {
    border: 1px solid #B9B9B9;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px 15px;
}
.common-filter-title {
    color: #777B75;
    margin-bottom: 6px;
}
.filter-title {
   font-weight: 700;
   margin-bottom: 4px;
}

.filter-inner {
    display: flex;
    justify-content: space-between;
}

.filter.general {
    max-width: 850px;
}

label {
    user-select: none;
    display: block;
    cursor: pointer;
}

input[type=checkbox] {
    display: inline-block;
    margin-right: 4px;
}