<div class="card-container" *ngIf="selectedCards && selectedCards.length > 0; else noCards">
  <ul class="card-list">
    <li class="card"
        *ngFor="let card of selectedCards.slice(0, getMidOfArr(selectedCards))">
      <div class="card-header">
        {{getCardHeader(card.type)}}
      </div>
      <div class="card-theory" *ngIf="card.theory">
        <div
          *ngIf="card.scheme"
          (click)="card.isTheoryShow = !card.isTheoryShow"
          class="card-theory-toggle"
        >Theory</div>
        <div *ngIf="card.isTheoryShow" class="card-theory-body">
          {{card.theory}}
        </div>
      </div>
      <div *ngIf="card.scheme" class="card-schema"> Scheme:<br>{{card.scheme}}</div>
      <div *ngIf="card.text.en" class="card-text-en">{{card.text.en}}</div>
      <div *ngIf="card.text.ru" class="card-text-ru">{{card.text.ru}}</div>
    </li>
  </ul>

  <ul class="card-list">
    <li class="card"
        *ngFor="let card of selectedCards.slice(getMidOfArr(selectedCards))">
      <div class="card-header">
        {{getCardHeader(card.type)}}
      </div>
      <div class="card-theory" *ngIf="card.theory">
        <div
          *ngIf="card.scheme"
          (click)="card.isTheoryShow = !card.isTheoryShow"
          class="card-theory-toggle"
        >Theory</div>
        <div *ngIf="card.isTheoryShow" class="card-theory-body">
          {{card.theory}}
        </div>
      </div>
      <div *ngIf="card.scheme" class="card-schema"> Scheme:<br>{{card.scheme}}</div>
      <div *ngIf="card.text.en" class="card-text-en">{{card.text.en}}</div>
      <div *ngIf="card.text.ru" class="card-text-ru">{{card.text.ru}}</div>
    </li>
  </ul>
</div>
<ng-template #noCards>
  Sorry, no cards found.
</ng-template>
